/***********************************
FIXED NAV
***********************************/
.float_nav {
	position: absolute;
	margin: 5px auto;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.float_nav_content {
	position: relative;
	margin: 0 auto;
	padding: var(--tiny);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	z-index: 1;
	padding-inline-end: -1rem;
}

.float_nav_style {
	border-radius: var(--medium);
}

.float_nav_content li {
	text-align: center;
	font-weight: 700;
	font-size: clamp(0.8rem, 0.9rem, 1rem);
	padding: var(--tiny) var(--small);
	cursor: default;
}

.float_nav_content li:hover:not(.float_nav_selected) {
	background-color: var(--pink);
	color: var(--white);
	cursor: pointer;
}

.float_nav_content li:active:not(.float_nav_selected) {
	background-color: var(--dark-pink);
	transform: translateY(3px);
}

.float_nav_selected {
	background-color: var(--less-pink);
	border: none;
	color: var(--dark);
	box-shadow: var(--clay-shadow);
	border-radius: var(--medium);
}

[data-theme="light"] .float_nav_selected {
	color: var(--pink);
}

@media screen and (max-width: 700px) {
	.float_nav_content {
		margin: 5px var(--decoration);
	}
	.float_nav_content li {
		padding: var(--decoration) var(--tiny);
	}
}

@media screen and (max-width: 550px) {
	.float_nav_content {
		margin: 5px var(--tiny);
		justify-content: flex-start;
		flex-wrap: wrap;
		row-gap: 10px;
		width: 80%;
		white-space: nowrap;
		padding: var(--tiny) var(--decoration);
	}
}

@media screen and (max-width: 400px) {
	.float_nav {
		display: block;
		margin: 15px;
	}
	.float_nav_content {
		display: none;
	}
}
