/***********************************
FIXED NAV
***********************************/
.pos-relative {
	position: relative;
}

.float_nav {
	position: absolute;
	margin: 5px auto;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.float_nav_column {
	position: absolute;
	flex-direction: column;
	right: 0;
}

.float_nav_content {
	position: relative;
	margin: 0 auto;
	padding: var(--tiny);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	z-index: 1;
	-webkit-padding-end: -1rem;
	padding-inline-end: -1rem;
}

.float_nav_style {
	border-radius: var(--medium);
}

.float_nav_content a {
	text-align: center;
	font-weight: 700;
	font-size: clamp(0.8rem, 0.9rem, 1rem);
	padding: var(--tiny) var(--small);
	cursor: pointer;
}

.float_nav_content a:hover:not(.active) {
	background-color: var(--pink);
	cursor: pointer;
	color: var(--white);
	transform: translateY(3px);
}

.float_nav_content .active {
	background-color: var(--less-pink);
	border: none;
	color: var(--dark);
	box-shadow: var(--clay-shadow);
	border-radius: var(--medium);
}

@media screen and (max-width: 700px) {
	.float_nav_content:not(.float_nav_column) a {
		padding: var(--tiny) var(--tiny);
	}
}

@media screen and (max-width: 550px) {
	.float_nav_content:not(.float_nav_column) {
		flex-wrap: wrap;
		row-gap: 10px;
		width: 80%;
		white-space: nowrap;
		padding: var(--tiny) var(--decoration);
	}
}

@media screen and (max-width: 400px) {
	.float_nav {
		display: block;
		margin: 15px;
	}
	.float_nav_content:not(.float_nav_column) {
		display: none;
	}
}
