/***********************************
FIXED NAV
***********************************/
.float_nav {
	position: fixed;
	top: 15px;
	left: calc(17% - 10vw);
	width: 45vw;
}

.float_nav_content {
	margin: 0 auto;
	padding: var(--tiny);
	max-width: 500px;
	/* width: calc(30vw + 2vw); */
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
}

.float_nav_style {
	color: var(--white);
	border-radius: var(--medium);
}

.float_nav_content li {
	text-align: center;
	cursor: pointer;
	font-weight: 700;
	font-size: clamp(0.8rem, 0.9rem, 1rem);
	padding: var(--tiny) var(--small);
	border-radius: var(--medium);
}

.float_nav_content_style {
	border: solid var(--pink) 2px;
	background-color: var(--less-dark);
}

.float_nav_content li:hover {
	background-color: var(--pink);
	color: var(--white);
}

.float_nav_selected {
	background-color: var(--less-pink);
	border: none;
	color: var(--dark);
	box-shadow: var(--clay-shadow);
}

@media screen and (max-width: 1050px) {
	.float_nav_content li {
		padding: var(--tiny) var(--tiny);
	}

	.float_nav {
		top: 10px;
		left: calc(15% - 10vw);
		width: 48vw;
	}
}

@media screen and (max-width: 845px) {
	.float_nav {
		top: 10px;
		width: 43vw;
		left: calc(17% - 10vw);
	}
	.float_nav_content li {
		padding: var(--decoration) var(--tiny);
	}
	.float_nav_content {
		display: grid;
		row-gap: 5px;
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
		place-items: center;
		padding: var(--decoration);
	}
}

@media screen and (max-width: 590px) {
	.float_nav {
		top: 5px;
		width: 50vw;
	}
}

@media screen and (max-width: 500px) {
	.float_nav_content {
		display: none;
	}
}
