::-moz-selection {
	background: var(--pink);
	color: var(--white);
}

::selection {
	background: var(--pink);
	color: var(--white);
}

body {
	/* position: relative; */
	font: 400 var(--small) / 1.5 var(--serif);
	color: var(--dark);
	/* background-color: var(--grad-purple); */
	background-color: var(--less-pink);
	/* background: var(--grad-purple);
	background: linear-gradient(to bottom, var(--less-pink) 65%, var(--grad-purple)); */
	/* background: -webkit-linear-gradient(to bottom, var(--less-pink) 65%, var(--grad-purple));
	background: -o-linear-gradient(to bottom, var(--less-pink) 65%, var(--grad-purple));
	background: -moz-linear-gradient(to bottom, var(--less-pink) 65%, var(--grad-purple)); */
	background-size: cover;
	background-attachment: fixed;
	/* 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; */
	/* background-repeat: no-repeat; */
	overflow-x: hidden;
}

#root {
	/* position: relative; */
	/* overflow: hidden; */
	display: grid;
	grid-template-rows: var(--s-height) auto 60px;
	grid-template-columns: 1fr;
}

@media screen and (max-width: 800px) {
	#root {
		height: 50vh;
	}
}

/************************
BASE STYLES
************************/
:is(h1, h2, h4, h5, h6) {
	text-align: center;
	font-weight: 700;
	margin: var(--small) 0;
}

h1 {
	font-size: clamp(1.5rem, 2.1vw + 1rem, 3rem);
	-webkit-text-decoration: underline var(--white) var(--decoration);
	text-decoration: underline var(--white) var(--decoration);
	background-image: radial-gradient(circle, var(--dark-pink), var(--grad-purple));
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 200%;
	background-position: -200%;
	-webkit-animation: title-text-gradient 5s linear infinite;
	animation: title-text-gradient 5s linear infinite;
}

[data-theme="light"] h1 {
	background-image: radial-gradient(circle, var(--dark), var(--dark-pink));
}

h2 {
	font-size: clamp(1.2rem, 1vw + 1rem, 2rem);
	color: var(--dark-pink);
	-webkit-text-decoration: underline var(--white) var(--decoration);
	text-decoration: underline var(--white) var(--decoration);
}

h4 {
	width: 100%;
	background-color: var(--50-less-white);
	padding: var(--tiny);
	color: var(--dark);
	margin: 0;
	letter-spacing: 1px;
}

:is(h3, .typed_text) {
	font-size: clamp(0.8rem, 0.8rem + 1vw, 1.65rem);
	color: var(--75-less-dark);
}

.typed_text {
	color: var(--dark-pink);
}

p {
	font-size: clamp(0.85rem, 0.2vw + 1rem, 1.15rem);
	line-height: 1.6;
	font-family: var(--sans);
}
p + * {
	margin-top: var(--small);
}

hr {
	margin: var(--medium) auto;
	width: calc(20ch + 10%);
	border: none;
	border-top: var(--decoration) solid var(--white);
}

.hr_tiny {
	margin: var(--tiny) auto;
}

a {
	color: var(--white);
	padding: var(--decoration);
	text-decoration: none;
}

[data-theme="light"] a {
	color: var(--less-pink);
}

a:not(.float_nav_content a) {
	color: var(--bright-pink);
	font-weight: 700;
	-webkit-text-decoration: var(--grad-purple) var(--decoration) underline solid;
	text-decoration: var(--grad-purple) var(--decoration) underline solid;
	display: inline-block;
	position: relative;
	background-color: var(--50-less-white);
}

[data-theme="light"] a:not(.float_nav_content a) {
	color: var(--dark-pink);
}

a:not(.float_nav_content a):hover {
	color: var(--less-pink);
	transition: color 0.2s ease-in-out;
}

a:not(.float_nav_content a):after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 100%;
	bottom: 0;
	left: 0;
	background: var(--dark-pink);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
	z-index: -1;
}

a:not(.float_nav_content a):hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

strong {
	font-weight: 700;
	color: var(--dark-pink);
}

[data-theme="light"] strong {
	color: var(--dark-pink);
}

.typed-cursor {
	font-weight: 700;
	color: var(--dark-pink);
}

abbr {
	text-decoration: none;
	display: flex;
	justify-content: center;
	gap: 10px;
	font: 700 0.8rem var(--sans);
	color: var(--dark-pink);
}

.full-width {
	width: 90%;
}

/***********************************
SVG WAVE
***********************************/

.custom-shape {
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	overflow: hidden;
	background-image: radial-gradient(#d5a0e1 0.2px, transparent 0.5px);
	background-color: var(--less-dark);
	background-size: 10px 10px;
	z-index: -1;
}

[data-theme="light"] .custom-shape {
	background-image: radial-gradient(#221126 0.2px, transparent 0.5px);
}

@media screen and (max-width: 600px) {
	.custom-shape {
		width: 200%;
	}
}

.custom-shape svg {
	position: relative;
	display: block;
	max-width: 200%;
	height: var(--s-height);
	margin-bottom: -1px;
}

@media screen and (max-width: 400px) {
	.custom-shape svg {
		--s-height: 120px;
	}
}

/***********************************
buttons
***********************************/

.hamburger {
	display: none;
	position: absolute;
	left: 0;
	z-index: 20;
}

@media screen and (max-width: 400px) {
	.hamburger {
		display: block;
	}
}

.button_style {
	cursor: pointer;
	padding: var(--tiny);
	transform: 0;
}

.button_style:not(.hamburger):hover {
	background-color: var(--pink);
}

.button_style *:active {
	transform: translateY(3px);
}

/***********************************
ANIMATION
***********************************/
.fadeout {
	animation: fadeout 0.7s ease infinite;
	-webkit-animation: fadeout 0.7s ease infinite;
	animation-direction: alternate;
}

.float {
	-webkit-animation: float 5s ease-in-out infinite;
	animation: float 5s ease-in-out infinite;
	-webkit-filter: drop-shadow(0 50px 100px var(--pink));
	filter: drop-shadow(0 50px 100px var(--pink));
}

.tiny-float {
	-webkit-animation: tiny-float 5s ease-in-out infinite;
	animation: tiny-float 5s ease-in-out infinite;
	-webkit-filter: drop-shadow(0 50px 100px var(--pink));
	filter: drop-shadow(0 50px 100px var(--pink));
}

.tilt:hover {
	-webkit-animation: tilt 0.5s ease-in-out;
	animation: tilt 0.5s ease-in-out;
}

.delay-1s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.wave {
	-webkit-animation: wave 2s ease-out infinite;
	animation: wave 2s ease-out infinite;
	transform-origin: 70% 70%;
}

.wave:hover {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.wave-invert {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.wave-invert:hover {
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation: wave 2s ease-out infinite;
	animation: wave 2s ease-out infinite;
	transform-origin: 70% 70%;
}

/***********************************
UTILS
***********************************/

.border_style {
	border: solid var(--less-pink) 2px;
	background-color: var(--less-dark);
	border-radius: var(--medium);
}

.center {
	display: flex;
	justify-content: center;
	margin: auto;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-white {
	color: var(--white);
}

.extra-padding-x {
	-webkit-padding-start: var(--medium);
	padding-inline-start: var(--medium);
	-webkit-padding-end: var(--medium);
	padding-inline-end: var(--medium);
}

.neg-top {
	-webkit-margin-before: -2.5rem;
	margin-block-start: -2.5rem;
}

.neg-left {
	-webkit-margin-start: -1rem;
	margin-inline-start: -1rem;
}

.pos-top {
	-webkit-margin-before: 1.9rem;
	margin-block-start: 1.9rem;
}

.pos-bottom {
	-webkit-margin-after: 1.5rem;
	margin-block-end: 1.5rem;
}
