::selection {
	background: var(--grad-purple);
	color: var(--white);
}

body {
	font: 400 var(--small) / 1.5 var(--serif);
	color: var(--dark);
	background: var(--less-pink);
	background: linear-gradient(to bottom, var(--less-pink) 60%, var(--grad-purple));
	background-attachment: fixed;
	overflow-x: hidden;
}

#root {
	min-height: 100vh;
	height: 100vh;
	display: grid;
	grid-template-rows: var(--s-height) auto 60px;
	grid-template-columns: 1fr;
}

/************************
BASE STYLES
************************/
:is(h1, h2, h4, h5, h6) {
	text-align: center;
	font-weight: 700;
	margin: var(--small) 0;
}

h1 {
	font-size: clamp(1.5rem, 2.1vw + 1rem, 3rem);
	text-decoration: underline var(--pink) var(--decoration);
	background-image: radial-gradient(circle, var(--grad-purple), var(--dark-pink));
	color: transparent;
	background-clip: text;
	background-size: 200%;
	background-position: -200%;
	animation: title-text-gradient 5s linear infinite;
}

h2 {
	font-size: clamp(1.2rem, 1vw + 1rem, 2rem);
	color: var(--dark-pink);
	text-decoration: underline var(--white) var(--decoration);
}

:is(h3, .typed_text) {
	font-size: clamp(0.9rem, 0.9vw + 1rem, 1.8rem);
	font-style: italic;
	color: var(--75-less-dark);
}

.typed_text {
	color: var(--less-dark);
}

p {
	font-size: clamp(0.85rem, 0.2vw + 1rem, 1.15rem);
	line-height: 1.6;
	font-family: var(--sans);
}
p + * {
	margin-top: var(--small);
}

hr {
	margin: var(--medium) auto;
	width: calc(25ch + 10%);
	border: none;
	border-top: var(--decoration) solid var(--white);
}

a {
	color: var(--white);
	padding: var(--decoration) var(--tiny);
	text-decoration: none;
}

[data-theme="light"] a {
	color: var(--less-pink);
}

a:not(.float_nav_content a) {
	color: var(--dark-pink);

	font-weight: 700;
	text-decoration: var(--grad-purple) var(--decoration) underline solid;
	display: inline-block;
	position: relative;
}

a:not(.float_nav_content a):hover {
	color: var(--white);
	transition: color 0.2s ease-in-out;
}

a:not(.float_nav_content a):after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 100%;
	bottom: 0;
	left: 0;
	background: var(--dark-pink);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
	z-index: -1;
}

a:not(.float_nav_content a):hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

strong {
	font-weight: 700;
	color: var(--dark-pink);
}

.typed-cursor {
	font-weight: 700;
	color: var(--dark-pink);
}

abbr {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font: 700 var(--small) var(--sans);
	color: var(--dark-pink);
}

.skills {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: var(--small);
	margin: var(--medium) auto;
}

.skills * > * {
	max-width: 50px;
	width: 50px;
	height: auto;
}

.full-width {
	width: 90%;
}

/***********************************
SVG WAVE
***********************************/

.custom-shape {
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	overflow: hidden;
	background-image: radial-gradient(#d5a0e1 0.2px, transparent 0.5px);
	background-color: var(--less-dark);
	background-size: 10px 10px;
	z-index: -1;
}

@media screen and (max-width: 600px) {
	.custom-shape {
		width: 200%;
	}
}

.custom-shape svg {
	position: relative;
	display: block;
	max-width: 200%;
	height: var(--s-height);
	margin-bottom: -1px;
}

@media screen and (max-width: 400px) {
	.custom-shape svg {
		--s-height: 120px;
	}
}
/***********************************
buttons
***********************************/

.hamburger {
	position: fixed;
	right: 0;
	margin-inline-end: var(--small);
}

.button_style {
	cursor: pointer;
	padding: var(--tiny);
	transform: 0;
}

.button_style:hover {
	background-color: var(--pink);
}

.button_style *:active {
	transform: translateY(3px);
}

/***********************************
UTILS
***********************************/

.border_style {
	border: solid var(--less-pink) 2px;
	background-color: var(--less-dark);
	border-radius: var(--medium);
}

.float {
	animation: float 5s ease-in-out infinite;
	filter: drop-shadow(0 0 50px var(--grad-purple));
}
