::selection {
	background: var(--pink);
	color: var(--white);
}

body {
	font: 400 var(--small) / 1.5 var(--serif);
	color: var(--dark);
	background: var(--less-pink);
	background: linear-gradient(to bottom, var(--less-pink) 60%, var(--grad-purple));
	background-attachment: fixed;
}

#root {
	min-height: 100vh;
	height: 100vh;
	display: grid;
	grid-template-rows: 80px auto 60px;
	grid-template-columns: 1fr;
}

a {
	color: var(--white);
	padding: var(--decoration) var(--tiny);
	text-decoration: var(--dark-pink) var(--decoration) underline solid;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

a:hover {
	color: var(--white);
	transition: color 0.2s ease-in-out;
}

a:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 100%;
	bottom: 0;
	left: 0;
	background: var(--dark-pink);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
	z-index: -1;
}

a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/***********************************
SVG WAVE
***********************************/

.custom-shape {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	background-color: var(--less-dark);
}

.custom-shape svg {
	position: relative;
	display: block;
	max-width: 200%;
	height: var(--s-height);
	margin-bottom: -1px;
	animation: enlarge-wave 13s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

/***********************************
FIXED NAV
***********************************/
.float_nav {
	position: fixed;
	top: 10px;
	width: 60%;
}

.float_nav_content {
	margin: 0 auto;
	padding: var(--tiny);
	width: calc(30vw + 2vw);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
}

.float_nav_style {
	color: var(--white);
	border-radius: var(--medium);
}

@media screen and (max-width: 1050px) {
	.float_nav {
		position: fixed;
		top: 5px;
		width: 60%;
	}
}

@media screen and (max-width: 700px) {
	.float_nav {
		position: fixed;
		top: 0;
		width: 50%;
	}
}

@media screen and (max-width: 500px) {
	.float_nav_content {
		display: none;
	}
}

.float_nav_content li {
	text-align: center;
	cursor: pointer;
	font-weight: 700;
	font-size: clamp(0.8rem, 0.9rem, 1rem);
	padding: var(--tiny) var(--small);
	border-radius: var(--medium);
}

.float_nav_content li:hover {
	background-color: var(--dark-pink);
	color: var(--white);
	text-decoration: underline solid var(--pink) 2px;
}

.float_nav_selected {
	background-color: var(--less-pink);
	border: none;

	color: var(--dark);
}

/***********************************
HAMBURGUER
***********************************/

.hamburger {
	position: fixed;
	display: grid;
	place-items: center;
	top: var(--base);
	right: var(--small);
	width: var(--large);
	height: var(--large);
	background-color: var(--pink);
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	animation: float 5s ease-in-out infinite, touch-shadow 5s ease-in-out infinite;
}

.main_container {
	grid-row: 2;
	width: 90%;
	max-width: 80ch;
	display: grid;
	gap: 10px;
	padding-bottom: var(--medium);
	grid-template-columns: 1fr 1fr;
	margin: auto;
	place-items: center;
	place-content: center;
	z-index: 1;
}

@media screen and (max-width: 600px) {
	.main_container {
		grid-template-columns: 1fr;
		width: 80%;
		margin: var(--large) auto;
	}
}

.sparkle {
	position: absolute;
	top: var(--small);
	left: var(--base);
}
