/* keyframes to enlarge-wave the svg */
@keyframes enlarge-wave {
	0% {
		width: 200%;
	}
	50% {
		width: 150%;
	}
	100% {
		width: 200%;
	}
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes touch-shadow {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	50% {
		box-shadow: var(--shadow);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes title-text-gradient {
	to {
		background-position: 200%;
	}
}
