@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes tilt {
	0% {
		rotate: 2deg;
	}
	50% {
		rotate: -2deg;
	}

	100% {
		rotate: 0deg;
	}
}

@keyframes tiny-float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes title-text-gradient {
	to {
		background-position: 200%;
	}
}

@keyframes wave {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-5deg);
	}
	30% {
		transform: rotate(8deg);
	}
	40% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(12deg);
	}
	60% {
		transform: rotate(-3deg);
	}
	70% {
		transform: rotate(10deg);
	}
	80% {
		transform: rotate(-6deg);
	}
	90% {
		transform: rotate(14deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
