.main_container {
	grid-row: 2;
	width: 90%;
	max-width: 100ch;
	height: 70vh;
	display: grid;
	place-items: center;
	gap: 25px;
	margin: auto;
	z-index: 10;
}

.main_large {
	max-width: 150ch;
}

.col-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.col-2 {
	grid-template-columns: 1fr 1fr;
}

.main_container > article {
	height: 65vh;
	/* overflow: scroll; */
}

.description_area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.box_container {
	background: transparent;
	width: 100%;
	text-align: center;
	padding: var(--small);
	border-radius: var(--medium);
	box-shadow: var(--clay-shadow);
}
/* }

@media screen and (max-width: 1000px) {
	.main_container {
		grid-template-columns: 1fr 1fr;
		overflow: scroll;
	}
}

@media screen and (max-width: 600px) {
	.main_container {
		grid-template-columns: 1fr;
		width: 80%;
		margin: var(--large) auto;
	}
} */
