.main_container {
	grid-row: 2;
	width: 90%;
	max-width: 100ch;
	height: 70vh;
	display: grid;
	place-items: center;
	gap: 25px;
	margin: auto;
	z-index: 10;
}

.main_large {
	max-width: 150ch;
}

.col-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.col-2 {
	grid-template-columns: 1fr 1fr;
}

.main_container > article {
	height: 65vh;
	width: 100%;
}

article > svg {
	flex: none;
}

.description_area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.skills {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: var(--small) var(--medium);
	margin: var(--base) auto;
}

.skills_item {
	width: 100%;
	display: flex;
	text-align: center;
}

.skills_item img {
	max-width: var(--medium);
	margin-inline-end: var(--tiny);
}

.skills_item abbr {
	margin: auto 0;
	background-color: var(--50-less-white);
	padding: var(--decoration) var(--tiny);
	border-radius: var(--small);
	box-shadow: var(--shadow);
}

@media screen and (max-width: 700px) {
	.main_container {
		grid-template-columns: 1fr;
		width: 85%;
		gap: 10px;
	}

	.main_container > article {
		height: 100%;
	}
}
