.project_box {
	border-radius: var(--base);
	background-color: var(--50-less-white);
	box-shadow: var(--clay-shadow);
}

.project_details {
	padding: 0 var(--base) var(--base);
}

.project_arrows svg {
	filter: drop-shadow(0 0 20px var(--bright-pink));
}

.project_arrows > :is(*:first-of-type, *:last-of-type) {
	position: absolute;
	top: 20%;
	transform: translateY(-50%);
	z-index: 1;
	cursor: pointer;
	fill: var(--white);
}

.project_arrows > *:first-of-type {
	left: -13px;
}

.project_arrows > *:last-of-type {
	right: -13px;
}

.project_arrows *:hover {
	fill: var(--dark-pink);
}

.project_image {
	border-radius: var(--base) var(--base) 0 0;
	overflow: hidden;

	height: 200px;
}

.project_image img {
	object-fit: cover;
	overflow: hidden;
	object-position: center;
	width: 100%;
	height: 100%;
	transform: scale(1.1);
	transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.project_image img:hover {
	transform: scale(1.2);
}

.project_tech {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: var(--small) 0 var(--tiny);
}

.project_badge {
	background-color: var(--dark-pink);
	font: 0.8rem var(--sans);
	color: var(--white);
	padding: var(--decoration) var(--tiny);
	border-radius: var(--tiny);
}

.project_badge:nth-of-type(2n) {
	background-color: var(--grad-purple);
}

.project_badge:nth-of-type(3) {
	background-color: var(--red);
}

.project_badge:nth-of-type(4) {
	background-color: var(--pink);
}
