.project_box {
	border-radius: var(--base);
	background-color: var(--50-less-white);
	box-shadow: var(--clay-shadow);
	position: relative;
	display: grid;
	grid-template: "image" "header" "tech" "content";
	grid-template-rows: 150px 50px 90px 1fr;
	grid-template-columns: 1fr;
	overflow: hidden;
}

.project_box:hover {
	grid-template-rows: 270px 50px 90px 1fr;
	transition: ease 1s all;
}

.project_arrows svg {
	-webkit-filter: drop-shadow(0 0 20px var(--bright-pink));
	filter: drop-shadow(0 0 20px var(--bright-pink));
}

.project_arrows > :is(*:first-of-type, *:last-of-type) {
	position: absolute;
	top: 15%;
	transform: translateY(-50%);
	z-index: 1;
	cursor: pointer;
	fill: var(--white);
}

.project_box:hover .project_arrows > :is(*:first-of-type, *:last-of-type) {
	transition: ease 0.5s all;
	top: 25%;
}

.project_arrows > *:first-of-type {
	left: 0;
}

.project_arrows > *:last-of-type {
	right: 0;
}

.project_arrows *:hover {
	fill: var(--dark-pink);
}

.project_details {
	padding: 0 var(--base) var(--base);
	grid-area: content;
	transition: ease 0.5s all;
}

.project_box:hover > .project_details > p {
	font-size: 0.9rem;
	line-height: 1.2;
	transition: ease 0.5s all;
}

.project_image {
	border-radius: var(--base) var(--base) 0 0;
	overflow: hidden;
	grid-area: image;
}

.project_image img {
	-o-object-fit: cover;
	object-fit: cover;
	overflow: hidden;
	-o-object-position: center;
	object-position: center;
	width: 100%;
	height: 100%;
}

.project_tech {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: var(--small) var(--decoration) var(--tiny);
	grid-area: tech;
}

.project_badge {
	background-color: var(--dark-pink);
	font: 0.8rem var(--sans);
	color: var(--white);
	padding: var(--decoration) var(--tiny);
	border-radius: var(--tiny);
}

.project_badge:nth-of-type(2n) {
	background-color: var(--grad-purple);
}

.project_badge:nth-of-type(3) {
	background-color: var(--red);
}

.project_badge:nth-of-type(4) {
	background-color: var(--pink);
}
