:root {
	/*font*/
	--sans: "Assistant", Helvetica, sans-serif;
	--serif: "Fraunces", Georgia, serif;

	/*rem sizing*/
	--decoration: 0.1rem;
	--tiny: 0.5rem;
	--small: 1rem;
	--base: 1.5rem;
	--medium: 2rem;
	--large: 3rem;
	--largest: 5rem;

	/*shadows*/
	--shadow: 0 0.5rem 2rem #16151a4e;
	--clay-shadow: 0 10px 50px var(--25-less-dark), inset 0 -8px 25px var(--grad-purple),
		inset 0px 5px 20px var(--white);

	/*base colors*/
	--red: #ac454e;
	--less-pink: #dfb2e9;
	--pink: #b97dc6;
	--bright-pink: #cb31b1;
	--dark-pink: #740b6a;
	--less-dark: #221927;
	--white: #f9f8fc;

	/*gradient*/
	--grad-purple: rgb(133, 92, 180);

	/*transparency*/
	--25-less-dark: #2219272f;
	--50-less-dark: #22192779;
	--75-less-dark: #221927cc;
	--50-less-white: #f9f8fc33;
	--25-less-white: #f9f8fcb7;

	/*swirl*/
	--s-height: 160px;
	--s-mar-top: -20px;

	/*transition*/
	--base-transition: all 0.2s ease-in-out;
}

[data-theme="light"]:root {
	--clay-shadow: 0 10px 50px var(--50-less-white), inset 0 -8px 25px var(--grad-purple),
		inset 0px 5px 20px var(--pink);
	--less-pink: #391342;
	--dark-pink: #e96fff;
	--less-dark: #f5d8fb;
	/* --less-dark: #413959; */
	--white: #130d16;
	--dark: #cfbdd7;

	--25-less-white: #392f3ed8;
	--50-less-white: #392f3e6f;
	--50-less-dark: #8d84a57b;
	--75-less-dark: #dfcde9cc;

	--grad-purple: rgb(79, 31, 138);
}

* {
	transition: var(--base-transition);
}
