:root {
	/*font*/
	--sans: "Assistant", Helvetica, sans-serif;
	--serif: "Fraunces", Georgia, serif;

	/*rem sizing*/
	--decoration: 0.1rem;
	--tiny: 0.5rem;
	--small: 1rem;
	--base: 1.5rem;
	--medium: 2rem;
	--large: 3rem;
	--largest: 5rem;

	/*shadows*/
	--shadow: 0 0.5rem 2rem #16151a4e;
	--clay-shadow: 0 10px 50px var(--25-less-dark), inset 0 -8px 25px var(--grad-purple),
		inset 0px 5px 20px var(--white);

	/*base colors*/
	--pink: #b97dc6;
	--less-pink: #d5a0e1;
	--dark-pink: #70257d;
	--dark: #14071a;
	--less-dark: #221927;
	--white: #f9f8fc;

	/*gradient*/
	--grad-purple: rgb(117, 69, 172);

	/*transparency*/
	--25-less-dark: #2219272f;
	--50-less-dark: #22192779;
	--75-less-dark: #221927cc;
	--50-less-white: #f9f8fc33;

	/*swirl*/
	--s-height: 170px;
	--s-mar-top: -20px;

	/*transition*/
	--base-transition: all 0.2s ease-in-out;
}

[data-theme="light"]:root {
	--clay-shadow: 0 10px 50px var(--50-less-dark), inset 0 -8px 25px var(--grad-purple),
		inset 0px 5px 20px var(--pink);
	--less-pink: #d9b4e2;
	--dark-pink: #843991;
	--less-dark: #413959;
	--white: #221927;
	--50-less-white: #22192779;
	--50-less-dark: #f9f8fc33;
}

* {
	transition: var(--base-transition);
}
