:root {
	/*font*/
	--sans: "Assistant", Helvetica, sans-serif;
	--serif: "Fraunces", Georgia, serif;

	/*rem sizing*/
	--decoration: 0.1rem;
	--tiny: 0.5rem;
	--small: 1rem;
	--base: 1.5rem;
	--medium: 2rem;
	--large: 3rem;
	--largest: 5rem;

	/*shadows*/
	--shadow: 0 0.5rem 2rem #16151a4e;
	--clay-shadow: 0 34px 68px var(--header-transparent), inset 0 -8px 16px var(--light-pink),
		inset 0px 14px 28px var(--white);

	/*base colors*/
	--pink: #b97dc6;
	--less-pink: #d5a0e1;
	--dark: #14071a;
	--less-dark: #221927;
	--white: #f9f8fc;

	/*swirl*/
	--s-height: 220px;
	--s-mar-top: -20px;
	--s-actual-height: calc(var(--s-height) + var(--s-mar-top));
}

::selection {
	background: var(--pink);
	color: var(--white);
}

body {
	font: 400 var(--small) / 1.5 var(--serif);
	color: var(--white);
	background: var(--dark);
}

.swirl {
	width: 100%;
	background-image: url(../public/misc/pink_swirl.png);
	background-size: 110% var(--s-height);
	background-position: center top;
	background-repeat: no-repeat;
	height: var(--s-height);
	margin-top: var(--s-mar-top);
	z-index: -1;
}

.swirl_bg {
	width: 100%;
	height: calc(100vh - var(--s-actual-height));
	background-color: var(--pink);
}

.float_nav {
	position: fixed;
	top: 0;
	width: 100%;
}

.float_nav_content {
	margin: var(--medium) auto;
	width: 35vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	background-color: var(--less-dark);
	border-radius: var(--medium);
}

@media screen and (max-width: 1050px) {
	.float_nav_content {
		width: 60vw;
	}
}

@media screen and (max-width: 500px) {
	.float_nav_content {
		display: none;
	}
}

.float_nav_content li {
	padding-inline: var(--base);
}

.float_nav_selected {
	background-color: var(--less-pink);
	color: var(--dark);
	font-weight: 700;
	padding: var(--tiny) var(--medium);
	border-radius: var(--medium);
}

.hamburger {
	position: fixed;
	display: grid;
	place-items: center;
	top: var(--base);
	right: var(--base);
	width: var(--largest);
	height: var(--largest);
	background-color: var(--pink);
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

@media screen and (max-width: 900px) {
	.hamburger {
		top: var(--small);
		right: var(--small);
	}
}

@media screen and (max-width: 600px) {
	.hamburger {
		width: var(--large);
		height: var(--large);
	}
}

.main_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	max-width: 1200px;
	margin: 0px auto;
	position: relative;
	/*gradient bg */
}
